<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		        {% if page.use_math %}
		         {% include mathjax_support %}
		        {% endif %}
		</head>
		<div class="sidenav">
		  <a href="/">Home</a>
		  <a href="https://fylobc.github.io/parts/Part_0">1. Into Friedland</a>
		</div>
		<body>
			<nav>
	    		<ul>
	        		<li><font size="7">Future Sick</font></li>
              		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			</footer>
		</body>
	</html>
