<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		        {% if page.use_math %}
		         {% include mathjax_support %}
		        {% endif %}
		</head>
		<div class="sidenav">
		  <a href="/">Home</a>
		  <a href="https://fylobc.github.io/parts/Part_0">The Minimum You Need to Know</a>
		  <a href="https://fylobc.github.io/parts/Part_1">A First Look At Where Bitcoin’s Value Comes From</a>
		  <a href="https://fylobc.github.io/parts/Part_3">Decentralized Currencies and Central Banks</a>
		  <a href="https://fylobc.github.io/parts/Part_2">Blockchain and Energy: Mining as Arbitrage</a>
		  <a href="https://fylobc.github.io/parts/Part_4">Can Bitcoin Function as a Currency?</a>
		  <a href="/resources">Resources</a>
		</div>
		<body>
			<nav>
	    		<ul>
	        		<li><font size="7">Essays on Bitcoin and the Blockchain</font></li>
              		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			</footer>
		</body>
	</html>
